@import "./_video.sass";

header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;

    h1 {
    font-size: 7rem;
        color: white;
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: black, $alpha: .7);
        z-index: -1;
    }
}

.custom-switch {
    font-size: 4rem;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end; /* Align the items to the bottom */

    h1 {
        color: white;
    }
  }
  
  